// ======================================
//  Variables
// ======================================

//Colors
$white: #fff;

$color-primary: #58e1c1;
$color-text: #777;
$color-link: #51ddfc;

$color-img-frame: #ccc;

$color-button-error: #e4757a;
$color-button-info: #927bc1;
$color-button-success: #63cc82;
$color-button-warning: #fd7856;

$color-col-1-bg: #927bc1;
$color-col-2-bg: #fd7856;
$color-col-3-bg: #deb2ee;
$color-col-4-bg: #7ee6fd;
$color-col-5-bg: #88d9a0;
$color-col-6-bg: #4da2bb;
$color-col-7-bg: #ec9fa3;
$color-col-8-bg: #fd9f85;
$color-col-9-bg: #e4757a;
$color-col-10-bg: #63cc82;
$color-col-11-bg: #51ddfc;
$color-col-12-bg: #80e8d1;

//Media Query Breakpoint
$mq-breakpoint: 768px;
