/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq($mq-breakpoint) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @include mq($mq-breakpoint) {
    flex-direction: row;
  }
}

.centered {
  @include mq($mq-breakpoint) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @include mq($mq-breakpoint) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  & + & {
    @include mq($mq-breakpoint) {
      margin-left: 10px;
    }
  }
}

// COLUMNS

.col-1 {
  &.theme {
    background-color: $color-col-1-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 8.33%;
  }
}

.col-2 {
  &.theme {
    background-color: $color-col-2-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 16.67%;
  }
}

.col-3 {
  &.theme {
    background-color: $color-col-3-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 25.00%;
  }
}

.col-4 {
  &.theme {
    background-color: $color-col-4-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 33.33%;
  }
}

.col-5 {
  &.theme {
    background-color: $color-col-5-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 41.67%;
  }
}

.col-6 {
  &.theme {
    background-color: $color-col-6-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 50.00%;
  }
}

.col-7 {
  &.theme {
    background-color: $color-col-7-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 58.33%;
  }
}

.col-8 {
  &.theme {
    background-color: $color-col-8-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 66.67%;
  }
}

.col-9 {
  &.theme {
    background-color: $color-col-9-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 75.00%
  }
}

.col-10 {
  &.theme {
    background-color: $color-col-10-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 83.33%;
  }
}

.col-11 {
  &.theme {
    background-color: $color-col-11-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 91.67%;
  }
}

.col-12 {
  &.theme {
    background-color: $color-col-12-bg;
  }
  @include mq($mq-breakpoint) {
    flex-basis: 100%;
  }
}

.card {
  flex-basis: 100%;
}
